*.iml
.gradle
/local.properties
/.idea
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
gradle/wrapper/cache/
.externalNativeBuild
.gh_token
